<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>勤怠管理アプリ</title>
</head>

<body>
    <h1 th:inline="text">勤怠管理アプリ</h1>
	<form th:action="@{/input}" method="get">
	    <input type="text" name="accountID">アカウントID
	    <br/>
	    <input type="password" name="password">パスワード
	    <br/>
		<!--
	    <input type="submit" name="login" value="ログイン">
		-->
	</form>

	<button onclick="location.href='./input.html'">ログイン</button>
	<br/>
	<!-- account-entry.htmlへ遷移 -->
	<button onclick="location.href='./account-entry.html'">アカウント登録</button>

</body>

</html>