<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>timetable</title>
</head>

<body>
    <table id="tbl" border="1 ">
        <tr>
            <th>　</th>
            <th>日付</th>
            <th>曜日</th>
            <th>出勤時間</th>
            <th>退勤時間</th>
            <th>休憩時間</th>
            <th>実働時間</th>
            <th>時間外</th>
            <th>備考</th>
        </tr>
        <script type="text/javascript" src="../static/js/timetable.js"></script>
</body>

</html>