<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出力画面</title>
</head>
<body>
	<h1>出力画面</h1>
	<form method="get">
		<input type="month" id="start"  style="display:inline;">～<input type="month" id="end">
		<input type="button" name="dateInput" value="反映" id="checkButton">
	</form>
	<p id="msg"></p>
		<br>
		<div style="display:inline;">合計実働時間：</div>
		<div id=sumWorkTime style="display:inline;"></div>
		<br>
		<div style="display:inline;">月平均実働時間：</div>
		<div id=averageWorkTime style="display:inline;"></div>
		<br>
		<div style="display:inline;">合計時間外労働時間：</div>
		<div id=sumOvertimeWorkTime style="display:inline;"></div>
		<br>
		<div style="display:inline;">月平均時間外労働時間：</div>
		<div id=averageOvertimeWorkTime style="display:inline;"></div>
		<br>
		<button onclick="location.href='./home.html'">戻る</button>
		
		<script th:src="@{/js/output.js}"></script>
</body>
</html>